body {
  position: relative;
}
body .none {
  display: none;
}
body .block {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 999;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
body .block figure {
  transform: translate(-50%, -50%);
  width: 50.27083%;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 9999;
  background-color: white;
  padding: 71px 0px;
}
body .block figure img:nth-of-type(1) {
  position: absolute;
  z-index: 99999;
  width: 50px;
  height: 50px;
  right: 3%;
  top: 3%;
}
body .block figure img:nth-of-type(2) {
  width: 80.5187%;
  height: 500px;
  border-radius: 25px;
  margin: 0 auto 71px;
}
body .block figure figcaption {
  width: 80.5187%;
  margin: 0 auto;
  height: 250px;
  overflow-y: scroll;
}
body .section01 .section01-slide .section01-contain {
  width: 100vw;
  height: 100vh;
}
body .section01 .section01-slide .section01-contain img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .section01 .section01-slide .section01-contain .section01-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 64px;
}
body .section01 .left {
  position: absolute;
  left: 2.34375%;
  color: black;
  transform: scale(1.5);
}
body .section01 .right {
  position: absolute;
  right: 2.34375%;
  color: black;
  transform: scale(1.5);
}
body .section02 .section02-contain {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  margin: 80px auto;
}
body .section02 .section02-contain .maps img {
  height: 560px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .section02 .section02-contain .text {
  width: 60%;
  text-align: left;
  margin: 80px 0 0 80px;
}
body .section02 .section02-contain .text .title {
  margin-bottom: 80px;
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
}
body .section02 .section02-contain .text .detail {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin-bottom: 80px;
  color: rgb(63, 63, 63);
  line-height: 1.8;
}
body .section02 .section02-contain .text .more {
  text-align: left;
  cursor: pointer;
}
body .set-border {
  border: 3px solid #4fc3f7 !important;
}
body .section03 {
  padding: 5%;
  width: 100%;
}
body .section03 .section03-content-btn button {
  margin: 20px 15px 0px;
  width: 22%;
  height: 100px;
  border-radius: 30px;
  border: 1px solid #000;
  box-shadow: 0px 8px 20px 0px lightgrey;
  transition: 0.5s;
}
body .section03 .section03-content-btn button:hover {
  transform: scale(0.9);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid #4fc3f7;
}
body .section03 .section03-contain {
  display: flex;
  justify-content: flex-end;
}
body .section03 .section03-contain .text,
body .section03 .section03-contain .more {
  text-align: left;
}
body .section04 {
  width: 100%;
  margin-bottom: 80px;
}
body .section04 .section04-contain {
  max-width: 1400px;
  margin: 0 auto;
}
body .section04 .section04-contain .section04-text {
  margin-bottom: 80px;
}
body .section04 .section04-contain .section04-text h2 {
  text-align: left;
  font-size: 2.8rem;
}
body .section04 .section04-contain .section04-text h2 span {
  border-bottom: 4px solid black;
}
body .section04 .section04-contain .section04-line {
  position: relative;
  margin-bottom: 80px;
}
body .section04 .section04-contain .section04-line > div {
  transition: 0.5s;
  vertical-align: middle;
}
body .section04 .section04-contain .section04-line > div:nth-of-type(1) {
  position: absolute;
  z-index: -5;
  background-color: #4fc3f7;
  border: 1px solid #4fc3f7;
  height: 2px;
  width: 10%;
  top: 50%;
  left: 8%;
  transform: translate(0%, -50%);
}
body .section04 .section04-contain .section04-line > div:nth-of-type(2) {
  display: flex;
  justify-content: space-around;
}
body .section04 .section04-contain .section04-line > div:nth-of-type(2)::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -9;
  border: 1px dotted black;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .section04 .section04-contain .section04-line > div .section04-number {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 50%;
  line-height: 50px;
  cursor: pointer;
}
body .section04 .section04-contain .section04-line > div .section04-number {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 50%;
  line-height: 50px;
  cursor: pointer;
}
body .section04 .section04-contain .section04-box {
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 12px 12px 25px 12px lightgrey;
}
body .section04 .section04-contain .section04-box > div {
  width: 90%;
  margin: 0 auto;
}
body .section04 .section04-contain .section04-box .section04-img {
  display: flex;
  justify-content: space-between;
  margin: 80px 0 40px;
  height: 200px;
}
body .section04 .section04-contain .section04-box .section04-img img {
  width: 22%;
  border-radius: 20px;
}
body .section04 .section04-contain .section04-box .section04-info {
  margin-bottom: 80px;
}
body .section04 .section04-contain .section04-box .section04-info p {
  text-align: left;
  line-height: 24px;
  margin-bottom: 20px;
}
body .section04 .section04-contain .section04-box .section04-info div {
  display: flex;
}
body .section04 .section04-contain .section04-box .section04-info div p::before {
  content: "";
  border: 1px solid black;
  opacity: 0.3;
  margin: 0 10px;
}
body .section04 .section04-contain .section04-box .section04-info div img {
  width: 24px;
  height: 24px;
}
body .section04 .section04-contain .section04-box .section04-info div img:nth-of-type(2) {
  margin-left: 30px;
}
body html {
  scroll-behavior: smooth;
}
body .hidden {
  display: none;
}
body .hide-menu {
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 99;
}
body .hide-menu #tra {
  float: left;
  padding: 25px 0 0 25px;
  font-family: "Righteous", cursive;
}
body .hide-menu #tra a {
  text-decoration: none;
  color: #fff;
}
body .hide-menu a {
  color: black;
  font-weight: 600;
}
body .hide-menu-icon {
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: fixed;
  top: 25px;
  right: 25px;
  display: block;
  transition: 750ms ease;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
body .hide-menu-icon:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
body .hide-menu .hide-menu-wrapper {
  position: relative;
  position: fixed;
  top: 73px;
  right: 30px;
  display: flex;
  justify-content: flex-end;
}
body .hide-menu div ul li {
  padding: 10px;
  /* border: 1px solid #000; */
  border-bottom: 0px;
  background-color: #4fc3f7;
  border-bottom: 1px solid #eee;
}
body .hide-menu .menu {
  width: 150px;
}
body .hide-menu .menu li {
  cursor: pointer;
}
body .hide-menu .menu li:first-child {
  border-radius: 10px 10px 0 0;
}
body .hide-menu .menu li:last-child {
  border-radius: 0 0 10px 10px;
}
body .hide-menu .menu li:hover {
  background-color: #1c80b8;
}
body .hide-menu .menu li ul {
  display: none;
}
body .hide-menu div ul li ul li {
  border-bottom: 0px;
}
body .hide-menu div ul li ul li:last-child {
  border-bottom: 1px solid #000;
}
body .go-top-btn {
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #4fc3f7;
  border-radius: 50%;
  cursor: pointer;
}
body .go-top-btn:hover {
  background-color: #1c80b8;
}
body .go-top-btn p {
  width: 48px;
  height: 48px;
  margin: auto 0px;
  color: #f1f1f1;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=subMain.css.map */