.top-contain {
  width: 72.916%;
  margin: 183px auto 0px;
  .text {
    h1 {
      font-size: 64px;
      line-height: 90px;
    }
    .text-sub {
      p {
        font-size: 48px;
        margin: 0 auto;
        display: inline-block;
        font-weight: 400;
        &::before {
          margin: 10px 0;
          content: '';
          display: block;
          border: 1px solid black;
          width: 100%;
        }
      }
    }
    .maps {
      width: 72.916%;
      margin: 32px auto 104px;
      height: 850px;
    }
  }
}
.move-contain {
  display: flex;
  justify-content: center;
  margin-bottom: 208px;
  .move {
    width: 20.83%;
    height: 400px;
    cursor: pointer;
    line-height: 400px;
  }
}
.place-contain {
  .place-first {
    display: flex;
    justify-content: center;
    &:nth-of-type(even){
      img {
        order: 1;
      }
    }
  }
}