.section01 {
  .section01-slide {
    .section01-contain {
      img {
        width: 100%;
        height: 100%;
      }
      .section01-text {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 64px;
      }
    }
  }
  .left {
    position: absolute;
    left: 2.34375%;
    color: black;
    transform: scale(1.5);
  }
  .right {
    position: absolute;
    right: 2.34375%;
    color: black;
    transform: scale(1.5);
  }
  .maps {
    width: 72.916%;
    margin: 32px auto 104px;
    height: 850px;
  }
}