.section01 {
  .section01-slide {
    .section01-contain {
      width: 100vw;
      height: 100vh;
      img {
        width: 100%;
        height: 100%;
      }
      .section01-text {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 64px;
      }
    }
  }
  .left {
    position: absolute;
    left: 2.34375%;
    color: black;
    transform: scale(1.5);
  }
  .maps {
    width: 72.916%;
    margin: 32px auto 104px;
    height: 850px;
  }
  .right {
    position: absolute;
    right: 2.34375%;
    color: black;
    transform: scale(1.5);
  }
  .maps {
    width: 72.916%;
    margin: 32px auto 104px;
    height: 850px;
  }
}
.section02{
  .section02-contain{
    max-width: 1400px;
    display: flex;
    justify-content: center;
    margin: 80px auto;
    .maps{
      img{
        height: 560px;
      }
    }
    .text{
      width: 60%;
      text-align: left;
      margin: 80px 0 0 160px;
      .title{
        margin-bottom: 80px;
        font-size: 3rem;
        font-weight: bold;
        text-align: left;
      }
      .detail{
        text-align: left;
        overflow:hidden;
        text-overflow:ellipsis;
        display: -webkit-box; // 6줄 이상부터 ...으로 나타내기
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        margin-bottom: 80px;
        color: rgb(63, 63, 63);
      }
      .more{
        text-align: left;
      }
    }
  }
}
.section04 {
  width: 100%;
  .section04-contain {
    width: 72.916%;
    margin: 0 auto;
    .section04-text {
      h2 {
        text-align: left;
      }
    }
    .section04-line {
      position: relative;
      margin-bottom: 95px;
      > div {
        display: flex;
        justify-content: space-around;
        &::after {
          content: '';
          display: block;
          position: absolute;
          z-index: -9;
          border: 1px dashed black;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        vertical-align: middle;
        .section04-number {
          width: 50px;
          height: 50px;
          border: 1px solid black;
          background-color: white;
          color: black;
          border-radius: 50%;
          line-height: 50px;
          cursor: pointer;
        }
      }
    }
    .section04-box {
      border: 1px solid black;
      border-radius: 30px;
      > div {
        width: 73.3083%;
        margin: 0 auto;
      }
      .section04-img {
        display: flex;
        justify-content: space-between;
        margin: 81px 0 42px;
      }
      p {
        text-align: left;
      }
    }
  }
}